_book/
.aux
.log
.tex.aux
.out
.plist
.UlyssesRoot
Appendices/.Ulysses-Group.plist
Background/.Ulysses-Group.plist
Background/1.aux
Background/1.log
Background/1.out
Background/1.pdf
Background/1.tex.aux
Background/2.aux
Background/2.tex.aux
Background/3.aux
Background/4.aux
Background/5.aux
Discussion/.Ulysses-Group.plist
Discussion/10.aux
Discussion/11.aux
Discussion/12.aux
Project/.Ulysses-Group.plist
Project/6.aux
Project/7.aux
Project/8.aux
thesis.aux
thesis.log
thesis.out
